/BirdSongs_Venv
/DeepLabCut-Processing
/papers
/XMALab-ForDevs
/Testing/Canaries-Test/Data
/Testing/Canaries-Test/Maya-Files
/Testing/tutorial-pig
/Testing/Code-Testing/Denoising_Rigid_Body_Transform.py
/DLC_VENV
/Testing/DeepLabCut
/Testing/Maya-Example.mp4
/Testing/relative-movement.mp4
/Testing/Smothing-relative-movement.mp4
/Testing/xmalab-example.mp4
/CineVideos
/cam1_test1